/.bundle

# Ignore the default mongodb database.
*.gem
app.rb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Extra files to ignore
doc/
*.swp
*~
.DS_Store

# Ignore config
/config

# Ignore AWS setting
/app/controllers/api/v1/aws_controller.rb