<!DOCTYPE html>
<html>
<head>
  <title>CheerseeApi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= form_authenticity_token %>
</head>
<body>

<%= yield %>

</body>
</html>
